{% extends 'base.html' %}

{% load static %}

{% block title %}home{% endblock %}


{% block content %}


<!-- Social Media -->
{% include 'partials/_social-media.html' %}

<!-- Slider -->
{% include 'partials/_navbar.html' %}


<!-- Slider -->
{% include 'partials/_slider.html' %}

<!-- Featured -->
{% include 'partials/_featured.html' %}

<!-- Video -->
{% include 'partials/_video.html' %}




<!-- Items Container -->
{% include 'partials/_items-container.html' %}



<!-- Form -->
{% include 'partials/_form-full.html' %}


<!-- Footer -->
{% include 'partials/_footer.html' %}

{% endblock %}
